<html>
<div class="container">
    <div *ngIf="isLoggedIn">
        <p>Welcome {{user_displayName}}!</p>
    </div>
    <router-outlet></router-outlet>
</div>

<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBDaugZSSWbTHR0cya23ci_McJOONHyggU",
    authDomain: "goboard-9da40.firebaseapp.com",
    databaseURL: "https://goboard-9da40.firebaseio.com",
    projectId: "goboard-9da40",
    storageBucket: "goboard-9da40.appspot.com",
    messagingSenderId: "723651337507"
  };
  firebase.initializeApp(config);
</script>
</html>
